.navbar-brand {
	background-color: #A00100;
	color: white;
	text-align: center;
	width: 100%;
}
/*.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;
}
*/
.collapsable-nav {
	background-color: #898989;
}

.pageheading {
	text-align: center;
}

#chickenTile {
	background-color: #f1f881;
	width: 100%;
	margin: 5% ;
	padding: 5%

}